html,
body {
  width: 520px;
  height: 200px;
  position: relative;
}

div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.popup-page {
  width: 500px;
  height: 100%;
}
.search-bar {
  display: flex;
  width: 100%;
}
.tips {
  padding: 5px;
  color: #333;
  font-size: 22px;
}
.tips a {
  margin-right: 10px;
  text-decoration: none;
}
.tips .mob {
  color: #1890ff;
}
.tips .mob:hover {
  color: #5468ff;
}

#ipt,
#jxapis {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  margin: 0;
  font-size: 20px;
}
#ipt {
  flex: 1 1 110px;
  padding-left: 10px;
  padding-right: 10px;
}

#jxapis {
  width: 110px;
}
#toast,
#loading {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 36px;
  padding: 0 5px;
  font-size: 22px;
  color: rgb(120, 224, 35);
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.7);
}

#toast.hide,
#loading.hide {
  display: none;
}
