html,
body {
  position: relative;
  width: 520px;
  height: 200px;
  user-select: none;
}

div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.popup-page {
  width: 500px;
  height: 100%;
}
.search-bar {
  display: flex;
  width: 100%;
}
.tips {
  padding: 5px;
  color: #333;
  font-size: 22px;
}
.tips p {
  margin: 6px auto;
}
.tips a {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 2px;
  margin-right: 10px;
  text-decoration: none;
  color: #1890ff;
  overflow: hidden;
}
.tips a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #5468ff;
  transform: translateX(-100%);
  transition: all .3s;
}
.tips a:hover{
  color: #5468ff;
}
.tips a:hover::after {
  transform: translateX(0%);
}

#ipt,
#jxapis {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  margin: 0;
  font-size: 20px;
}
#ipt {
  flex: 1 1 110px;
  padding-left: 10px;
  padding-right: 10px;
}

#jxapis {
  width: 110px;
}
#toast,
#loading {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 36px;
  padding: 0 5px;
  font-size: 22px;
  color: rgb(120, 224, 35);
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.7);
}

#toast.hide,
#loading.hide {
  display: none;
}
.github {
  text-align: right;
}
.mob {
  color: blue !important;
}
.mob::after {
  border-color: blue !important;
}